.body {
    height: calc(100vh - 101px);
}

.size {
    width: 500px;
    height: 250px;
}

.m-f-i {
    margin: 24px 7px;
}

table{
    height: calc(100vh - 310px);
    cursor: pointer;
}

tbody {
    display: block;
    overflow: auto;
    height: calc(100vh - 230px);
    border-bottom: 2px solid white;
}

thead, tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}


th {
    text-align: center;
}

td {
    text-align: center;
}

.f-s-16 {
    font-size: 16px;
}

.f-s-18 {
    font-size: 18px;
}

.f-s-20 {
    font-size: 20px;
}

.border {
    border: 1px solid white;
}

.b-t {
    border-top: 1px solid white;
}