<div mat-card class="body">
    <div mat-card-title fxLayoutAlign="center center" fxAlign="row">
        <label mat-label for="category" class="m-f-i">Kategorija: </label>
        <select mat-select name="category" id="category" class="m-f-i">
            <option *ngFor="let cat of categories" mat-option value="cat.categoryId">{{cat.name}}</option>

        </select>
        <div mat-card-action>
        <button class="btn btn-primary m-f-i">Filter</button>
        <button class="btn btn-danger m-f-i">Add category</button>
        <button class="btn btn-success m-f-i">Print</button>
        </div>
    </div>
    <div mat-card-content>
        <table class="table table-light table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kreirano</th>
                    <th scope="col">{{category?.value1}}</th>
                    <th scope="col">{{category?.value2}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of category?.data">
                  <th scope="row">{{data.dataId}}</th>
                  <td>{{data.createdAt}}</td>
                  <td>{{data.value1}}</td>
                  <td>{{data.value2}}</td>
                </tr>
              </tbody>
        </table>
    </div>
    <div>

    </div>

</div>