<div mat-card class="body">
    <button color="primary" class="button" mat-raised-button><mat-icon class="mat-icon-rtl-mirror icon" (click)="logout()">logout</mat-icon></button>
    <div mat-card-title fxLayoutAlign="center center" fxAlign="row">
        <label mat-label for="category" class="m-f-i f-s-20">Kategorija #{{category?.categoryId}} : </label>
        <select mat-select name="category" id="category" class="m-f-i f-s-18" (click)="onSelectChange($event)">
            <option mat-option *ngFor="let cat of categories" [value]="cat.categoryId" class="f-s-16">{{cat.name}}</option>
        </select>
        <div mat-card-action>
        <button class="btn btn-primary m-f-i" (click)="filterCategories()">Filter</button>
        <button class="btn btn-danger m-f-i" (click)="openDialog()">Add category</button>
        <button class="btn btn-success m-f-i"  [useExistingCss]="true" printTitle="MyTitle" printSectionId="print-section" ngxPrint>Print</button>
        <a *ngIf="category?.name === 'xor'" [routerLink]="['/train', category?.categoryId]" class="btn btn-warning">Train nn</a>
    </div>
    </div>
    <div mat-card-content id="print-section">
        <! ––  table-bordered mogu dodati ––>
        <table class="table table-light table-striped table-hover" ngxPrint>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Kreirano</th>
                    <th *ngIf="category?.value1 !== null" scope="col">{{category?.value1}}</th>
                    <th *ngIf="category?.value2 !== null" scope="col">{{category?.value2}}</th>
                    <th *ngIf="category?.value3 !== null" scope="col">{{category?.value3}}</th>
                    <th *ngIf="category?.value4 !== null" scope="col">{{category?.value4}}</th>
                    <th *ngIf="category?.value5 !== null" scope="col">{{category?.value5}}</th>
                    <th *ngIf="category?.value6 !== null" scope="col">{{category?.value6}}</th>
                    <th *ngIf="category?.value7 !== null" scope="col">{{category?.value7}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of category?.data">
                  <th scope="row">{{data.dataId}}</th>
                  <td>{{data.createdAt}}</td>
                  <td *ngIf="data.value1 !== -1000">{{data.value1}}</td>
                  <td *ngIf="data.value2 !== -1000">{{data.value2}}</td>
                  <td *ngIf="data.value3 !== -1000">{{data.value3}}</td>
                  <td *ngIf="data.value4 !== -1000">{{data.value4}}</td>
                  <td *ngIf="data.value5 !== -1000">{{data.value5}}</td>
                  <td *ngIf="data.value6 !== -1000">{{data.value6}}</td>
                  <td *ngIf="data.value7 !== -1000">{{data.value7}}</td>
                </tr>
              </tbody>
        </table>
    </div>
    <div>

    </div>

</div>